<div class="row">
  <div class="col-md-4">
    <div class="contenedorPokebolas">
      <img src="../assets/img/ic_pokebola.png" width="100%" alt="pokebola">
      <h1>Especie de Pokemones</h1>
      <img src="../assets/img/ic_pokebola.png" width="100%" alt="pokebola">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Especie de Pokemon</th>
          <th scope="col">Datos</th>
        </tr>
      </thead>
      <tbody>
        <!--Limitando la entrada de data en el table - Se mostrara solo 10 elementos y luego se paginara si este tiene data de sobra-->
        <tr *ngFor="let especie of especies | paginate: { itemsPerPage: 10, currentPage: page}">
          <th scope="row">{{especie.name}}</th>
          <td> <button class="btn mostrarpokemon" (click)="showPokemonEspecie(especie.url)">Mais Información</button></td>
        </tr>
      </tbody>
    </table>
    <!--Control de la Paginacion con sus atributos (page se hace referencia a lo de arriba en el nfor)-->
    <pagination-controls 
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    >
    </pagination-controls>
  </div>
  <div class="col-md-8 d-flex justify-content-center align-items-center">
    <img src="../assets/img/loading.gif" width="120px" alt="" [ngClass]="{'d-block': carga, 'd-none': !carga}">
    <div class="card-pokemon" *ngIf="mostrar==true">
      <div class="card-pokemon-img">
        <img width="100%" src="" alt="Pokemon" srcset="{{pokemon.getFoto()}}">
      </div>
      <div class="car-info-pokemon">
        <p>{{pokemon.getName()}}</p>
        <div class="container-fluid">

          <div class="row">
            <div class="col-6"  *ngFor="let item of estadisticas">
              <div class="car-info-pokemon-stats">
                <span>{{item.getName()}}</span>
                <p>{{item.getBaseStat()}}</p>
              </div>
            </div>
            <div class="col-6"  *ngFor="let item of habilidades">
              <div class="car-info-pokemon-stats">
                <span>Habilidad +</span>
                <p class="text-capitalize">{{item.habilidad}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="car-info-pokemon-stats">
                <span>Experiencia Base</span>
                <p>{{pokemon.getBase_experience()}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="car-info-pokemon-stats">
                <span>Peso</span>
                <p>{{pokemon.getWeight()}} <span style="color: black; font-size: 12px; text-transform: lowercase;">lb</span></p>
              </div>
            </div>
            <div class="col-6">
              <div class="car-info-pokemon-stats">
                <span>Tamaño</span>
                <p>{{pokemon.getHeight()}} <span style="color: black; font-size: 12px; text-transform: lowercase;">ft</span></p>
              </div>
            </div>
            <div class="col-6">
              <div class="car-info-pokemon-stats">
                <a href="/evoluciones" class="btn btn-danger">Ver Evoluciones</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul>
      <li *ngFor="let item of habilidades" class="d-none">{{item.habilidad}}</li>
    </ul>
  </div>
</div>