<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">1era Evolución</th>
            <th scope="col">2da Evolución</th>
            <th scope="col">3era Evolución</th>
          </tr>
        </thead>
        <tbody>
                  <!--Limitando la entrada de data en el table - Se mostrara solo 10 elementos y luego se paginara si este tiene data de sobra-->
          <tr *ngFor="let pokemon of pokemones">
            <th scope="row">
              <div>
                <img src="" srcset="{{pokemon.getFoto()}}" alt="" width="80px">
                {{pokemon.getName()}}
              </div>
            </th>
          </tr>
        </tbody>
      </table>
</div>
